html,body {
  height: 100%; 
  margin: 5%; 
  padding: 0px;
}

h1 {
  margin: 1%;
}

p {
  margin: 2%;
  padding: 10px;
}

.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto; 
}

a {
	color: black;
	text-decoration: underline;
}

.col-centered{
    float: none;
    margin: 0 auto;
}